.font_sans_serif {
    font-family: Trebuchet MS, sans-serif;
    color: white;
}

.banner {
    background-image: url(img/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vw;
}


.red_bottom_border {
    border-bottom: 1px solid red;
    padding-bottom: 3px;
}

.width_small {
    width: 13%;
}

.width_xsmall {
    width: 10%;
}

.red_btn {
    margin-top: 20%;
    text-align: center;
}

.handwritten_font {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 30px;
}

.text_margin {
    margin-bottom: 0;
}

.text_padding {
    padding-top: 3%;
}

.font_size_large {
    font-size: 30px;
}

.font_size_medium {
    font-size: 15px;
}

.font_size_small {
    font-size: 12px;

}

.text_align_justify {
    text-align: justify;
}

.full_width {
    width: 100%;
}


.background_color_brown {
    background-color: #22191A;
}

.div_padding {
    padding-top: 5%;
    padding-bottom: 5%;
}

.div_padding_small {
    padding-top: 1%;
    padding-bottom: 1%;
}

.no_margin_bottom {
    margin-bottom: 0;
}

.size_img_wine {
    width: 95%;
    height: 240px;
}

#testimonials_img {
    position: relative;
    background-color: #000;
}

#testimonials_img::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: url(img/salad.png) no-repeat center center;
    background-size: cover;
}

.arrow,
.ellipsis {
    font-size: 30px;
    color: #DC3545;
}

.arrow_right {
    padding-left: 50px;
}

.arrow_left {
    padding-right: 50px;
}

.icon_insta_and_faceboock {
    font-size: 30px;
    color: #DC3545;
    padding: 5px;
}

.padding_top {
    padding-top: 30px;
}

.background_color_black {
    background-color: black;
}

.bottom_margin_small {
    margin-bottom: 2%;
}

.padding_top_small {
    padding-top: 0.5rem;
}

@media (min-width: 994px) {
    .nav_item_font_size {
        font-size: 1rem;
    }

    .nav_item_spacing {
        margin: 0 2% 0 2%;
    }

    .container_margin {
        margin: 0 10% 0 10%;
    }
}

@media (max-width: 993px) {
    .nav_item_font_size {
        font-size: 0.7rem;
    }

    .nav_item_spacing {
        margin: 0;
    }

    .container_margin {
        margin: 0 2% 2% 2%;
    }
}